.top{
	padding: 25px;
}

.jumbotron{
    background-color: white !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px !important;
}

.bodycolor{
	background-color: rgba(0, 0, 0, 0.03);
}

.vertical-align {
    display: flex;
    align-items: center;
}

.signupbtn{
  border-radius: 7px !important;
  width: 125px;
}