.top{
	padding: 60px;
}

.bodycolor{
	background-color: rgba(0, 0, 0, 0.03);
}

.jumbotron{
    background-color: white !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px !important;
    padding: 3rem 2rem !important;
    margin-top: -30px;
}

img{
	height: 182px;
	width: 70px;
	padding-left: 10px;
	object-fit: contain;
}